In [1]:
import os
import pandas as pd
import plotly.express as px

### READ LOG FILES

In [21]:
WDIR = ['DATA_EPSD_00_DMAX_50', 'DATA_EPSD_00_DMAX_60']
df = []
for wdir in WDIR:
    dmax = int(wdir.split('_')[-1])
    for flog in sorted(os.listdir(wdir)):
        if not flog.endswith('.log'):
            continue
        pid = flog.replace('.log','')
        flog = os.path.join(wdir, flog)
        df_log = {'pid': pid, 'dmax':dmax, 'flog': flog}
        with open(flog, 'r') as fid:
            for row in fid:
                row = row.replace(':','').replace('\n','').split(' ')
                field = row[1]
                if 'fnmr' in field:
                    value = row[-1]
                elif 'time' in field:
                    value = float(row[-1])
                else:
                    value = int(row[-1])
                df_log[field] = value
        if ('costSBBU' in df_log) and (df_log['costSBBU'] == df_log['costRELAX']):
            df_log['costBB'] = df_log['costSBBU']
            df_log['timeBB'] = df_log['timeSBBU']
        df.append(df_log)
df = pd.DataFrame(df)
df['gap'] = (df['costSBBU'] - df['costRELAX']) / df['costRELAX']
df.head()

,pid,dmax,flog,fnmr,nnodes,lenE,lenS,costRELAX,costSBBU,timeSBBU,costBB,timeBB,gap
0,1adx,50,DATA_EPSD_00_DMAX_50/1adx.log,DATA_EPSD_00_DMAX_50/1adx.nmr,120.0,305.0,117.0,234.0,234.0,0.000857,234.0,0.000857,0.0
1,1all,50,DATA_EPSD_00_DMAX_50/1all.log,DATA_EPSD_00_DMAX_50/1all.nmr,480.0,2009.0,477.0,954.0,954.0,0.003980,954.0,0.003980,0.0
2,1bdo,50,DATA_EPSD_00_DMAX_50/1bdo.log,DATA_EPSD_00_DMAX_50/1bdo.nmr,241.0,628.0,238.0,476.0,476.0,0.005129,476.0,0.005129,0.0
3,1cza,50,DATA_EPSD_00_DMAX_50/1cza.log,DATA_EPSD_00_DMAX_50/1cza.nmr,2694.0,9375.0,2691.0,5382.0,5382.0,0.057549,5382.0,0.057549,0.0
4,1epw,50,DATA_EPSD_00_DMAX_50/1epw.log,DATA_EPSD_00_DMAX_50/1epw.nmr,3861.0,11614.0,3857.0,7716.0,7716.0,0.108659,7716.0,0.108659,0.0

In [22]:
df.groupby(by=['pid','dmax']).mean()

           nnodes     lenE    lenS  costRELAX  costSBBU  timeSBBU  costBB  \
pid  dmax
1adx 50     120.0    305.0   117.0      234.0     234.0  0.000857   234.0
     60     120.0    654.0   117.0      234.0     234.0  0.002817   234.0
1all 50     480.0   2009.0   477.0      954.0     954.0  0.003980   954.0
1bdo 50     241.0    628.0   238.0      476.0     476.0  0.005129   476.0
1cza 50    2694.0   9375.0  2691.0     5382.0    5382.0  0.057549  5382.0
     60    2694.0  18376.0  2691.0     5382.0    5382.0  0.165967  5382.0
1epw 50    3861.0  11614.0  3857.0     7716.0    7716.0  0.108659  7716.0
1fhl 50    1002.0   3378.0   999.0     1998.0    1998.0  0.022893  1998.0
     60    1002.0   6811.0   999.0     1998.0    1998.0  0.068233  1998.0
1fw5 50      60.0    243.0    57.0      114.0     114.0  0.000483   114.0
1n6t 50      30.0     92.0    27.0       54.0      54.0  0.000157    54.0
     60      30.0    152.0    27.0       54.0      54.0  0.000316    54.0
3vkh 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
     60       NaN      NaN     NaN        NaN       NaN       NaN     NaN
4rh7 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
     60       NaN      NaN     NaN        NaN       NaN       NaN     NaN
4wua 50    1033.0   3413.0  1028.0     2062.0    2068.0  0.015119  2062.0
5ijn 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
5np0 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
5nug 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
6bco 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
6czf 50    1494.0   4747.0  1491.0     2982.0    2982.0  0.030989  2982.0
6rn2 50       NaN      NaN     NaN        NaN       NaN       NaN     NaN
     60       NaN      NaN     NaN        NaN       NaN       NaN     NaN
6s61 50     522.0   2139.0   519.0     1038.0    1038.0  0.005421  1038.0

                 timeBB      gap
pid  dmax
1adx 50        0.000857  0.00000
     60        0.002817  0.00000
1all 50        0.003980  0.00000
1bdo 50        0.005129  0.00000
1cza 50        0.057549  0.00000
     60        0.165967  0.00000
1epw 50        0.108659  0.00000
1fhl 50        0.022893  0.00000
     60        0.068233  0.00000
1fw5 50        0.000483  0.00000
1n6t 50        0.000157  0.00000
     60        0.000316  0.00000
3vkh 50             NaN      NaN
     60             NaN      NaN
4rh7 50             NaN      NaN
     60             NaN      NaN
4wua 50    32228.200000  0.00291
5ijn 50             NaN      NaN
5np0 50             NaN      NaN
5nug 50             NaN      NaN
6bco 50             NaN      NaN
6czf 50        0.030989  0.00000
6rn2 50             NaN      NaN
     60             NaN      NaN
6s61 50        0.005421  0.00000

In [20]:
df50 = df[df['dmax']==50]
df60 = df[df['dmax']==60]